---
import BlogLayout from "@/layouts/BlogLayout.astro";
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const frontmatter = post.data;

const { Content, headings } = await post.render();
---

<BlogLayout title={frontmatter.title}>
  <h4 class="text-md text-gray-400 mb-0">{frontmatter.author}</h4>

  <Image
    transition:name={`${post.slug}-image`}
    class="m-auto object-cover my-5 rounded-md"
    src={frontmatter.image}
    format="webp"
    alt={`Imagen del post ${frontmatter.title}`}
    width={600}
    height={220}
  />

  <!--  -->
  <h3>Tabla de contenido</h3>
  <ol>
    {
      headings.map((heading, index) => (
        <li>
          <a href={`#${heading.slug}`}>
            {index + 1} - {heading.text}
          </a>
        </li>
      ))
    }
  </ol>

  <Content />

  <div class="my-20">
    <a href="#back-btn" class="text-blue-500 hover:underline">Volver arriba</a>
  </div>
</BlogLayout>
